html {
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(160, 160, 160);
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 16px 0;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 1em;
    font-size: 16px;
}

.header {
    margin-top: 0.5em;
    font-size: 48px;
}

.pixel {
    background-color: white;
    min-width: 6.25%;
}

.content{
    flex-flow: row wrap-reverse;
    align-items: center;
    flex:auto;
    gap:48px;
    overflow: auto;
}

.menu {
    margin: 0 0 48px 0;
    flex: 0 0 300px;
    flex-direction: column;
    align-self: stretch;
    gap: 10%;
}

.container {
    align-items: center;
    gap: 1em;
    font-weight: bolder;
}
.value {
    text-align: center;
}
#colorvalue {
    font-size: larger;
}

.grid {
    margin: 0 0 32px 0;
    flex: 1 0 300px;
    min-width: 300px;
    max-width: 35%;
    flex-flow: row wrap;
    aspect-ratio: 1/1;
    box-shadow: 5px 5px 5px rgb(70, 70, 70);
}

.footer {
    color: whitesmoke;
    background-color: rgb(70,70,70);
}

#draw {
    background-color: orange;
}

#erase {
    background-color: pink;
}

#clear {
    background-color: blanchedalmond;
}